name: Tests CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install dependencies
        run: npm install
      - name: Linting et correction automatique
        run: npm run lint:fix
      - name: Formatage du code
        run: npm run format
      - name: Lancer les tests
        run: npm test -- --coverage
